<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="www.savant.com" android:versionCode="16" android:versionName="8.0">
      
      
    <uses-sdk android:minSdkVersion="7"/>
    
    <application android:name="Doom" android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".DoomClient"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 
        <activity android:name=".DoomServer"
                  android:label="@string/srv_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         -->
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    

</manifest> 